{% extends 'base.html.twig' %}

{% block title %}Author - Files (PDF, Video ...) {% endblock %}

{% block body %}
    <div class="container">
        <h1>Author - Files (PDF, Video ...)</h1>
    </div>
{% endblock %}

