<form action="{{ path('admin.users.create') }}" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
    </div>
    <div>
        <button type="submit" id="save-user">Save</button>
    </div>
</form>