{% extends 'base.html.twig' %}

{% block title %}Video Form {% endblock %}

{% block body %}

    <div class="container">
        {#
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        #}

        <!-- Override global form theme form ./config/packages/twig.yaml -->
        {% form_theme form 'form_table_layout.html.twig'%}
        <div class="video-form">
           {{ form(form) }}
        </div>
    </div>

{% endblock %}
