{% extends 'base.html.twig' %}

{% block title %}Awesome Link!{% endblock %}

{% block body %}
    <div class="container">
        <form action="">
            <h1>Awesome form</h1>
            <div class="form-group mb-3">
                <input type="email" id="email" class="form-control" name="email" value="Enter your email">
            </div>
            <div class="form-group mb-3">
                <input type="password" id="password" class="form-control" name="password" value="Enter your password">
            </div>
            <div>
                Remember me <input type="checkbox" name="remember_me">
            </div>
            <div class>
                <button class="btn btn-primary">Sign in</button>
            </div>
        </form>
    </div>
{% endblock %}
