{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
<div class="container">
    <ul>
        {# Loop index started from 0 #}
        {% if users is defined %}
            {% for user in users %}
                <li>{{ user.name }} - you won {{ random_gifts[loop.index0] }}</li>
            {% endfor %}
        {% endif %}
    </ul>
</div>
{% endblock %}


{% block javascripts %}
  <script></script>
{% endblock %}
